[submodule "ryusupov_h/libft"]
	path = ryusupov_h/libft
	url = https://github.com/YusuCoder/libft.git
[submodule "ryusupov_h/printf"]
	path = ryusupov_h/printf
	url = https://github.com/YusuCoder/printf.git
[submodule "MLX42"]
	path = MLX42
	url = https://github.com/codam-coding-college/MLX42.git

